
body {
    font-family: 'Lato', sans-serif; 
 
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif; 
}

.container {
    width: 50%; 
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
}

.donate-box {
    background-color: yellow;
    display: inline-block;
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}
.container p {
    margin-top: 10px;
}